:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --main-header-color: #2e2f42;
  --main-text-color: #434455;
  --alternative-white-color: #f4f4fd;
  --accent-white-color: #e7e9fc;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--white-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-----------HEADER--------------*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-address {
  font-style: normal;
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-menu-item {
  padding: 24px 0;
}

.header-logo-span {
  color: var(--main-header-color);
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--pressed-state-color);
}

/*------------WELCOME SECTION--------------*/
.welcome {
}

.welcome-container {
  background-color: var(--main-header-color);
  padding: 188px 0;
}

.welcome-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.welcome-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  cursor: pointer;
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
}

.welcome-btn:hover,
.welcome-btn:focus {
  background-color: var(--pressed-state-color);
}

/*----------------BENEFITS--------------*/
.benefits {
  padding: 120px 0;
}
.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  margin-bottom: 8px;
}

.benefits-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  max-width: 264;
}

/*----------ABOUT US------------*/
.aboutus {
  padding-bottom: 120px;
}
.aboutus-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-header-color);
  margin-bottom: 72px;
}

.aboutus-list {
  display: flex;
  gap: 24px;
}

.aboutus-list-item {
  width: calc((100% - 48px) / 3);
}

/*------------OUR TEAM------------------*/
.team {
  padding: 120px 0;
}

.team-container {
  background-color: var(--alternative-white-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: var(--white-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
}

.team-member {
  padding: 32px 16px;
}

/*-------------------FOOTER----------------*/
.page-footer {
}

.footer-container {
  background-color: var(--main-header-color);
  display: flex;
  flex-direction: column;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--alternative-white-color);
  max-width: 264px;
  margin-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  display: flex;
  margin-top: 100px;
  margin-bottom: 16px;
}

.footer-logo .link {
  display: inline-block;
}

.footer-logo-span {
  color: var(--alternative-white-color);
}

/*----------PORTFOLIO FILTER--------------*/
.portfolio-projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding-bottom: 72px;
}

.filter-list-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--alternative-white-color);
  border: 1px solid var(--accent-white-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}

.filter-list-btn:hover,
.filter-list-btn:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  border: 1px solid transparent;
}

/*------------PORTFOLIO PROJECTS---------------*/

.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.projects-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.projects-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.projects-list-item {
  margin-bottom: 72px;
}

.project-item-container {
  padding: 32px 16px;
  border: 1px solid var(--alternative-white-color);
  border-top: none;
}
